h1{
    background-color: rgb(71, 32, 32);
    color: white;
   
    text-align: center;
    padding: 20px;
   display: inline-block ;
   margin-left: 40%;
  
}
.black-box{
    background-color: black;
    border: 5px solid red;
    padding: 20px;
    width: 500px;
    text-align: center;
    margin-left: 32%;

}
body{
    background-color: rgb(49, 110, 84);
}
.text-box{
    background-color: aqua;
   
    margin-bottom: 10px;
    height: 110px;
    padding-top: 30px;
}

.text-box2{
    background-color: aqua;
   
    height: 110px;
    padding-top: 30px;
    
}
